* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;;
    width: 124px;
    height: 33px;
    left: 381px;
    top: 75px;
    color: #545474;
    border-color: #e9e9e9;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    font-size: 14px;
    line-height: 33px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    z-index: 5;
    opacity: 1;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F7F7FA;
}
.content{
    width: 60%;
    height: 50%;
    margin: auto;
    border:1px solid #C3C3C3;
}
.text{
   width: 20%;
    border-left: 1px solid #EBEBEB;
    background-color: #FBFBFB;
    float: left;
}
.detailInfo{
    width: 79%;
    background-color: #FFFFFF;
    float: left;
}